.cont{
  background-color: #f8c5d9;
  height: 100vh;
  
}
.card{
    /* font-family:Arial, sans-serif; */
    text-align: center; 
    width: 100%;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
}
.text{
    color: #221b1e;
}
